# Flask configuration
SECRET_KEY=your_super_secret_production_key_here
FLASK_ENV=production

# Database configuration (Replace with your actual production DB details)
# Local Database configuration
# Example: sqlite:///crm_db.sqlite
DATABASE_URL=sqlite:///crm_db.sqlite
